.storybook-button {
  margin: 1rem;
  border: outset;
  background-color: silver;
  font-family: "Courier", monospace;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}

.storybook-button:hover {
  border: inset;
  cursor: pointer;
}

.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
